@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}
.centerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  height: 100%;
  width: 100%;
  font-family: "DNFBitBitv2";
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  position: relative;
  width: 100%;
  height: 940px;
  background-image: linear-gradient(
    103.3deg,
    rgb(89, 86, 255) 30%,
    rgb(45, 171, 255) 55.7%,
    rgba(162, 186, 245, 1) 81.8%
  );
}
.none {
  display: none;
}
h1 {
  margin: 0px;
}
.p {
  margin-right: 30px;
  margin-left: 25px;
}
.dawd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.displayimg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exit {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.black {
  display: block;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
}
.w {
  color: green;
  padding: 7px;
}
.e {
  color: gray;
  padding: 7px;
}
.l {
  color: red;
  padding: 7px;
}
.ps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.youimg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
